{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Eshop.com</title>
</head>
<body>
<div class="container">
	<section id="content">
		<form method="POST">
            {% csrf_token %}
			<h1>Sign in</h1>
            <p class="tag">Username</p>
			<div>
				<input type="text" name="username" required />
			</div>
            <p class="tag">Password</p>
			<div>
				<input type="password" name="password" required />
			</div>
			{% for message in messages%}
				<p id="error-message">{{message}}</p>
			{% endfor %}
			<div class="submit">
				<input type="submit" value="Log in"/>
				<a href="{% url 'forgot' %}" class="link">Forgot your password?</a>
				<a href="{% url 'register' %}" class="link">Sign Up</a>
			</div>
		</form>
	</section>
</div>

<script>

if(window.screen.width < 450){

	$('#content').css('margin-top', '350px')
	$('#content').css('margin-left', '100px')
	$('#content').css('width', '700px')
	$('#content').css('height', '450px')
	$('input').css('margin-top','50px')
	$('input').css('padding','15px')
	$('h1').css('font-size','30px')
	$('p, a').css('font-size','20px')
	$('a').css('margin-top','60px')
	$('.submit').css('margin-left', '70px')
	$('.tag').css('position', 'absolute')
	$('.tag').css('margin-top', '20px')
	$('.submit input').css('padding', '10px')

}
	
</script>

</body>
</html>
