#country{
    position:absolute;
    font-size:15px;
}
#country-btn{
    position:absolute;
    font-size: 15px;
    left:450px;
}
#back-btn{
    position:absolute;
    font-size: 15px;
    left:650px;
}

@media (max-width:450px){
    #country-btn{
        top:250px;
        left:30px;
    }
    #back-btn{
        top:250px;
        left:200px;
    }
}