.card{
   margin-top:20px;
   overflow:hidden;
}

.col-md-3{
    width:20%;
}
.card-body{
    width:500px;
}
#cancel-btn{
    color:black;
    border:1px solid #D6DBDF;
    border-radius:3px;
    padding:5px;
}

#cancel-btn:hover{
    text-decoration:none;
    color:black;
}
#cancel-btn:focus{
    border-color:#5DADE2 ;
    background-color: #D6EAF8 ;
}

label.btn {
    margin-bottom: 0;
}

.btn {
    cursor: pointer;
}

.row-bordered {
    overflow: hidden;
}

#success-message{
    margin-left:20px;
}
.warning{
    color:red;
}
.btn-success{
    padding:3px;
    margin-bottom: 3px;
}
@media (max-width:991px){
    .card-body{
        width:430px;
    }
}
@media (max-width:760px){
    .col-md-3{
        width:48%;
    }
}
@media (max-width:450px){
    .card-body{
        width:350px;
    }
    .col-md-3{
        width:100%;
    }
}