h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.thumbnail{
	width: 100%;
	height: 200px;
}

.product h6{
	font-size:18px;
}

.bg-dark{
	background-color: black!important;
}
.navbar-bottom{
	background-color: #17202A!important;
	padding-bottom:25px;
}

#cart-icon{
	width:50px;
	display: inline-block;
	transition:.1s;
}

#cart-icon:hover{
	opacity:.8;
}

#cart-total{
	display: block;
	text-align: center;
	position:absolute;
	color:#fff;
	background-color: red;
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
	margin-bottom: 25px;
	margin-left: 1397px;
}

.login-icon{
	position:absolute;
	width:40px;
	display: inline-block;
	margin-top:-17px;
	margin-left: 110px;
	transition:.1s;
}
.login-icon:hover{
	background-color:wheat;
	opacity: .8;
}

#menu-icon{
	position:absolute;
	color:white;
	bottom:11px;
	display: inline-block;
	transition:.1s;
}
#menu-icon:hover{
	opacity: .8;
}

.col-lg-3, .col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}
.col-lg-3{
	margin-bottom:60px;
	/* margin-right:60px; */
}

.btn{
	border-radius: 3px;
}
.add-btn{
	position:absolute;
	margin:10px 0 0 70px;
	border-radius: 100px;
	height:35px;
}

.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
    height: 20px;
}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}


.hidden{
	display: none!important;
}

.welcome{
	position:absolute;
	font-size:15px;
	color: white;
	margin-top:20px;
	left:1225px;
	overflow: hidden;
  	max-width: 115px;
  	text-overflow: ellipsis;
  	white-space: nowrap;
}

.navbar-brand{
	transition:.1s;
}

.navbar-brand:hover{
	opacity:.8;
}

.sidebar{
	z-index: 3;
	position: fixed;
	left: -250px;
	width:250px;
	height:100%;
	background:black;
	transition:all .5s ease;
	filter:brightness(80%);
	overflow-y:scroll;
}
.sidebar header{
	font-size:22px;
	font-weight:bold;
	color:white;
	background:black;
	user-select:none;
	padding-left:40px;
}
.sidebar ul section{
	color:white;
	font-size:18px;
	font-weight:bold;
}
.sidebar ul li{
	list-style-type: none;
}
.sidebar ul li a{
	display: block;
	height:100%;
	width:100%;
	line-height:50px;
	font-size:14px;
	color:white;
	box-sizing:border-box;
	border-top:1px solid rgba(255,255,255,1);
	transition:.4s;
	border-left:2px solid transparent;
	padding-left:20px;
}
.sidebar ul li a:hover{
	color:cyan;
	border-left-color: cyan;
}
#check{
	display:none;
}
label #cancel{
	position:absolute;
	cursor:pointer;
	background:black;
	border-radius:3px;
	z-index:1111;
	left:-270px;
	top:8px;
	padding:10px 10px;
}

#check:checked ~ label #cancel{
	left:270px;
}

#check:checked ~ .sidebar{
	left:0;
}
/* #check:checked ~ .navbar{
	filter: brightness(60%)
}
#check:checked ~ .container{
	filter: brightness(60%)
} */


#serch-box{
	position:center;
	width:800px;
	height:40px;
	outline:none;
	border-radius: 5px;
	border:2px solid black;
}
#serch-box:focus{
	border-width:2px;
	border-color:orange;
}
#cancel-icon{
	width:20px;
}
#serch-icon{
	position:absolute;
	height:34px;
	width:40px;
	object-fit: cover;
	left:1035px;
	top:12px;
	display: inline-block;
	transition:.1s;
}
#serch-icon:hover{
	opacity:.8;
}
.category {
	position:absolute;
	left:130px;
	bottom:8.5px;
}
.category p{
	position:absolute;
	left:-80px;
	color:white;
}
.category a{
	margin-left:8px;
	color:white;
	font-size:15px;
	text-decoration:none;
	padding:7px;
	border:1px solid transparent;
	border-radius:3px;
}
.category a:hover{
	border-color:white;
	background-color: #1C2833;
}
#globe-icon{
	position:absolute;
	left:160px;
	top:15px;
	width:30px;
}
#language{
	position:absolute;
	left:195px;
	font-size:15px;
	top:20px;
	color:white;
}

.L{
	width:50px;
	height:82px;
}

.R{
	width:50px;
	height:80px;
}

.left{
	position:absolute;
	border:2px solid transparent;
	padding:200px 10px 200px 10px;
	top:185px;
	left:50px;
}
.left:focus{
	border-color:black;
}
.right{
	position:absolute;
	border:2px solid transparent;
	padding:200px 10px 200px 10px;
	bottom:120px;
	right:50px;
}
.right:focus{
	border-color:black;
}
.new{
	position:absolute;
	right:20px;
	width:60px;
	height:50px;
}

.address{
	text-align:center;
}